DATABASE_URL="postgresql://user:password@localhost:5432/db?schema=public"
AUTH_SECRET="abcde" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GITHUB_ID=123
AUTH_GITHUB_SECRET=123


DOCS_GOOGLE_CLIENT_ID=123
DOCS_GOOGLE_CLIENT_SECRET=123

# User Project Deployment
PROJECTS_DATA_DIR="/data/specra/projects"
DOCS_BASE_DOMAIN="docs.specra-docs.com"
DOCS_BASE_IMAGE="specra/docs-base:latest"
CADDY_ADMIN_URL="http://localhost:2019"
CADDY_SERVER_NAME="srv0"
DOCKER_SOCKET_PATH="/var/run/docker.sock"